# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.7.1-roisinBent-maskingTimers.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Roisin\GitHub\LIT-GAD-ID-2021\7.1-roisinBent-maskingTimers\.idea\.idea.7.1-roisinBent-maskingTimers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
